body {
    background-color: salmon;
    font-family: cursive;
    padding-left: calc(50vw - 200px);
}
.hide {
    visibility: hidden;
}
.logo {
    /* margin: 0 auto; */
    width: 400px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    background-image: url("./assets/Logo4.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.start {
    position: absolute;
    font-family: cursive;
    padding: 0.5rem 1.5rem;
    bottom: 0;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to bottom, rgb(25, 232, 77), rgb(23, 181, 83));
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    /* width: 75px; */
    left: calc(50% - 40px);
    bottom: 20%;
    /* transform: scale(1.4); */
    box-shadow: 3px 4px 10px 3px rgba(51, 51, 51, 0.124);
}

/* .start:hover {
    /* transform: scale(1.8); */
/* transition: ease-in-out 0.3s; */
/* } */

.grid {
    /* margin: 0 auto; */
    width: 400px;
    height: 600px;
    background-color: rgba(225, 225, 199, 0.35);
    position: relative;
    background-image: url("./assets/grid2.jpg");
    background-position: center;
    box-shadow: 1px 1px 30px 5px rgba(34, 34, 34, 0.344);
}

.doodler {
    width: 60px;
    height: 55px;
    position: absolute;
    /* background-color: turquoise; */
}
.score {
    padding: 0.5rem;
    box-sizing: border-box;
    color: white;
    font-family: cursive;
    position: absolute;
    height: 40px;
    width: 400px;
    /* z-index: 2; */
    background-color: rgba(70, 131, 180, 0.713);
}
.platform {
    width: 85px;
    height: 15px;
    /* background-color: green; */
    position: absolute;
}
